<body>
    <div id="Fundo">
            <button mat-button (click)="edit()">
                <mat-icon>edit</mat-icon>
              </button>
        <p id="Titulo">{{ name }}</p>
        <p *ngIf="active" class="success">Ativo</p>
        <p *ngIf="!active" class="erro">Inativo</p>
        <div id="ID">
            <p>ID: {{ id }}</p>
        </div>
        <div class="expansion">
            <h1 style="color: black">Membros</h1>
            <mat-accordion>
                <mat-expansion-panel *ngFor="let membro of membros; let i = index">
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            Membro {{i+1}}
                        </mat-panel-title>
                    </mat-expansion-panel-header>
                    <ul>
                        <li>Nome: {{ member_names[i] }}</li>
                        <li>Email: {{ member_emails[i] }}</li>
                    </ul>
                </mat-expansion-panel>
                <h1 style="color: black">Notas</h1>
                <mat-expansion-panel *ngFor="let nota of notas; let i = index">
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            {{ names_phase[i] }}
                        </mat-panel-title>
                    </mat-expansion-panel-header>
                    <ul>
                        <li>Nota: {{ notas_phase[i] }}</li>
                    </ul>
                </mat-expansion-panel>
            </mat-accordion>
            <div class="bot">
                <button mat-raised-button color="fetincolor" (click)="goBack()">Voltar</button>
            </div>
        </div>
    </div>

    <div class="expansion">
        <mat-accordion>
            <mat-expansion-panel class="expansion2">
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        Adicionar membro
                    </mat-panel-title>
                </mat-expansion-panel-header>
                <mat-form-field>
                    <mat-label>Nome</mat-label>
                    <input matInput [(ngModel)]="memberName" type="text">
                </mat-form-field>
                <mat-form-field>
                    <mat-label>Email</mat-label>
                    <input matInput [(ngModel)]="memberEmail" type="text">
                </mat-form-field>
                <button mat-raised-button color="primary" (click)="addMember()">Submeter</button>
                <div class="spinner">
                    <mat-progress-spinner
                      *ngIf = "loading"
                      [color]="color"
                      [mode]="mode">
                    </mat-progress-spinner>
                    <p *ngIf="memAdded" class="success">Membro adicionado com sucesso!</p>
                    <p *ngIf="errorAt" class="erro">Erro ao adicionar. Por favor, tente novamente!</p>
                  </div>
            </mat-expansion-panel>

            <mat-expansion-panel class="expansion2">
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        Adicionar nota
                    </mat-panel-title>
                </mat-expansion-panel-header>
                <button mat-button [matMenuTriggerFor]="phaseMenu">{{ selectedPhase }}</button>
                <mat-menu #phaseMenu="matMenu">
                    <button *ngFor="let names of names_phase2; let i = index" 
                    mat-menu-item (click)="selectPhase(names, i)">{{ names }}</button>
                  </mat-menu>
                <mat-form-field>
                    <mat-label>Nota</mat-label>
                    <input matInput [(ngModel)]="newGrade" type="number" min="0" max="100">
                </mat-form-field>
                <div class="bot">
                <button mat-raised-button color="primary" (click)="addGrade()">Submeter</button>
                </div>
                <div class="spinner">
                    <mat-progress-spinner
                      *ngIf = "loading"
                      [color]="color"
                      [mode]="mode">
                    </mat-progress-spinner>
                    <p *ngIf="gradeAdded" class="success">Nota adicionada com sucesso!</p>
                    <p *ngIf="errorAt" class="erro">Erro ao adicionar. Por favor, tente novamente!</p>
                  </div>
            </mat-expansion-panel>

            <mat-expansion-panel class="expansion2">
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        Remover membro
                    </mat-panel-title>
                </mat-expansion-panel-header>
                <button mat-button [matMenuTriggerFor]="membMenu">{{ selectedMemb }}</button>
                <mat-menu #membMenu="matMenu">
                    <button *ngFor="let membro of member_names; let i = index" 
                    mat-menu-item (click)="selectMemb(membro, i)">{{ membro }}</button>
                  </mat-menu>
                  <div class="bot">
                <button mat-raised-button color="primary" (click)="deleteMember()">Submeter</button>
            </div>
                <div class="spinner">
                    <mat-progress-spinner
                      *ngIf = "loading"
                      [color]="color"
                      [mode]="mode">
                    </mat-progress-spinner>
                    <p *ngIf="membDeleted" class="success">Membro excluído com sucesso!</p>
                    <p *ngIf="errorAt" class="erro">Erro ao deletar. Por favor, tente novamente!</p>
                  </div>
            </mat-expansion-panel>

        </mat-accordion>
    </div>
</body>