<body>
    <div id="titulo">Trocar senha</div>
    <div id="senha">
        <mat-form-field>
            <mat-label>Senha atual</mat-label>
            <!--<input matInput [(ngModel)]="newName" type="text">-->
            <!--@if (nameController.hasError('required')) {
                <mat-error>Senha atual é <strong>obrigatória</strong></mat-error>
            }-->
        </mat-form-field>
        <mat-form-field>
            <mat-label>Nova senha</mat-label>
            <!--<input matInput [(ngModel)]="newName" type="text">-->
            <!--@if (nameController.hasError('required')) {
                <mat-error>Nova senha é <strong>obrigatória</strong></mat-error>
            }-->
        </mat-form-field>
        <mat-form-field>
            <mat-label>Confirmar nova senha</mat-label>
            <!--<input matInput [(ngModel)]="newName" type="text">-->
            <!--@if (nameController.hasError('required')) {
                <mat-error>Nova senha é <strong>obrigatória</strong></mat-error>
            }-->
        </mat-form-field>
        <button mat-raised-button color="fetincolor">Submeter</button>
        <div class="spinner">
            <mat-progress-spinner *ngIf="loading" [color]="color" [mode]="mode">
            </mat-progress-spinner>
            <p *ngIf="passUpdated" class="success">Senha atualizada! </p>
            <p *ngIf="errorAt" class="erro">Erro ao atualizar. Por favor, tente novamente! </p>
        </div>
    </div>
    <div id="voltar">
        <button mat-raised-button (click)="goBack()">Voltar</button>
    </div>
</body>