body{
    background: linear-gradient(
      to right,
      #5f98ee,
      #20EB9A);
    color: #ffffff;
    padding: -100;
    margin: 0;
    min-height: 100vh;
}

#titulo{
    font-size: 30px;
    text-align: center;
    align-items: center;
    color: white;
    margin-bottom: 5%;
}

#senha{
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    background: #fff;
    border-radius: 10%;
    width: 70%;
    margin-right: auto;
    margin-left: auto;
}

#voltar{
    padding: 30px;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.mat-fetincolor{
    background-color: #5f98ee;
    color: #ffffff;
}

.spinner{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 4%;
  }
  
.success, .erro{
    text-align: center;
    margin-top: 4%;
    font-weight: bold;
}
  
.erro{
    color: red;
}
  
.success{
    color: green;
}