<body>
    <div id="titulo">Alterar senha</div>
    <div id="senha">
        <mat-form-field>
            <mat-label>Senha atual</mat-label>
            <input matInput [formControl]="passController" [(ngModel)]="actPass" type="password">
            @if (passController.hasError('required')) {
                <mat-error>Senha atual é <strong>obrigatória</strong></mat-error>
            }
        </mat-form-field>
        <mat-form-field>
            <mat-label>Nova senha</mat-label>
            <input matInput [formControl]="newPassController" [(ngModel)]="newPass" type="password">
            @if (newPassController.hasError('required')) {
                <mat-error>Nova senha é <strong>obrigatória</strong></mat-error>
            }
        </mat-form-field>
        <mat-form-field>
            <mat-label>Confirmar nova senha</mat-label>
            <input matInput [formControl]="newPassController2" [(ngModel)]="newPassConf" type="password">
            @if (newPassController2.hasError('required')) {
                <mat-error>Nova senha é <strong>obrigatória</strong></mat-error>
            }
        </mat-form-field>
        <button mat-raised-button color="fetincolor" (click)="verify()">Submeter</button>
        <div class="spinner">
            <mat-progress-spinner *ngIf="loading" [color]="color" [mode]="mode">
            </mat-progress-spinner>
            <p *ngIf="passUpdated" class="success">Senha atualizada! </p>
            <p *ngIf="errorAt" class="erro">Erro ao atualizar. Por favor, tente novamente! </p>
            <p *ngIf="passNotConf" class="erro">As senhas não coincidem! </p>
        </div>
    </div>
    <div id="voltar">
        <button mat-raised-button (click)="goBack()">Voltar</button>
        <div class="spinner">
        <mat-progress-spinner *ngIf="loading2" [color]="color" [mode]="mode">
        </mat-progress-spinner>
        </div>
    </div>
</body>