body {
  background: linear-gradient(to right,
      #5f98ee,
      #20EB9A);
  margin: 0;
  padding: 0;
  min-height: 150vh;
}

html{
  color: #5f98ee;
}

#links {
  display: flex;
  justify-content: center;
  font-size: 20px;
  line-height: 1.1;
}

#links ul {
  display: flex;
  list-style: none;
  padding: 5px;
  margin-top: 20px;
  align-items: center;
}

ul li {
  margin: 0 15px;
  text-align: center;
}

ul li a, ul li button {
  color: #ffffff;
  text-decoration: underline;
  font-size: 20px;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.35);
  background: none;
  border: none;
  cursor: pointer;
  font-weight: normal;
}

.titulo {
  padding: 30px;
  font-size: 30px;
  text-align: left;
  margin-bottom: -7%;
  color: #ffffff;
}

.projetos {
  padding: 25px;
  font-size: 15px;
  text-align: left;
}

#projetos li {
  align-items: left;
  text-align: left;
  margin-left: 0;
}

#titulo-times {
  font-size: 30px;
  text-align: left;
  margin-top: 7%;
  color: #ffffff;
}

#spinner {
  margin-top: 10%;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.mat-fetincolor {
  background-color: #5f98ee;
  color: #ffffff;
}

.erro {
  text-align: center;
  color: red;
}

.expansion1{
  margin-top: 4%;
}

.bot{
  margin-top: 10%;
  text-align: center;
}