body{
  background: linear-gradient(
    to right,
    #5f98ee,
    #20EB9A);
    height: 250vh;
}
.but-row{
    display: flex;
    justify-content: center;
    gap: 15%;
    margin-top: 10%;
}
#adm, #projetos{
    padding: 25px;
    background: linear-gradient(
      to right,
      #5f98ee,
      #20EB9A);
    color: #ffffff;
    font-size: 25px;
	margin: auto;
	text-align: left;
}
.dados{
    padding: 25px;
    background: linear-gradient(
      to right,
      #5f98ee,
      #20EB9A);
    color: #ffffff;
    font-size: 15px;
	margin: auto;
	text-align: left;
}
.mat-fetincolor{
  background-color: #5f98ee;
  color: #ffffff;
}

.space{
  margin-bottom: 4%;
}

.bot, .bot2{
  text-align: center;
}

.bot{
  margin-top: 10%;
}

.spinner{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 4%;
}

.erro{
  text-align: center;
  color: red;
}