body{
    background: linear-gradient(
      to right,
      #5f98ee,
      #20EB9A);
    color: #ffffff;
    padding: 0;
    margin: 0;
    min-height: 100vh;
}

.titulo{
    padding: 25px;
    background: linear-gradient(
      to right,
      #5f98ee,
      #20EB9A);
    color: #ffffff;
    font-size: 30px;
	margin: auto;
	text-align: left;
}

.dados{
    padding: 25px;
    color: #ffffff;
    font-size: 15px;
	margin: auto;
	text-align: left;
}

.dados_proj_space{
    margin-bottom: 4%;
}
.bot{
  margin-top: 10%;
  text-align: center;
}

.spinner{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 4%;
}