<body>
    <div class="titulo">Editar dados do projeto
    </div>
    <div class="expansion">
    <mat-expansion-panel>
        <mat-expansion-panel-header>
            <mat-panel-title>
                Atualizar nome
            </mat-panel-title>
        </mat-expansion-panel-header>
        <p>Nome antigo: {{ name }} </p>
        <mat-form-field>
            <mat-label>Novo nome</mat-label>
            <input matInput [(ngModel)]="newName" type="text">
        </mat-form-field>
        <button mat-raised-button color="primary" (click)="submitNewName()">Submeter</button>
    </mat-expansion-panel>

    <mat-expansion-panel class="expansion2">
        <mat-expansion-panel-header>
            <mat-panel-title>
                Atualizar orientador
            </mat-panel-title>
        </mat-expansion-panel-header>
        <p>ID do orientador antigo: {{ advisorId }}</p>
        <mat-form-field>
            <mat-label>Nome do novo </mat-label>
            <input matInput [(ngModel)]="newAdvName" type="text">
        </mat-form-field>
        <mat-form-field>
        <mat-label>Email do novo </mat-label>
        <input matInput [(ngModel)]="newAdvEmail" type="text">
    </mat-form-field>
        <button mat-raised-button color="primary" (click)="submitNewAdv()">Submeter</button>
    </mat-expansion-panel>

    <mat-expansion-panel class="expansion2">
        <mat-expansion-panel-header>
            <mat-panel-title>
                Atualizar status
            </mat-panel-title>
        </mat-expansion-panel-header>
        <p><mat-slide-toggle [(ngModel)]="status" color="primary">Ativo</mat-slide-toggle></p>
        <button mat-raised-button color="primary" (click)="submitNewStatus()">Submeter</button>
    </mat-expansion-panel>
</div>
<div class="but">
<button mat-raised-button (click)="goBack()">Voltar</button>
</div>
</body>